{% extends 'rail/base.html' %}
{% block title %}Jogosultság{% endblock %}
{% block vpes_active %}active{% endblock %}

{% block body %}
<div class="container-fluid vpes-container">

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><input type=button value="Vissza" class="btn btn-warning btn-block" onClick="javascript:history.go(-1);"></li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                   (!) Ehez a művelethez nem rendelkezik elegendő jogosúltsággal. Ha úgy gondolja ez egy hiba, akkor kérem jelentse azonnali hatállyal.
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}
